---
title: Index
---
<h1>iiit-notebook</h1>
<p>
a public repository of notes taken by students of IIIT Hyderabad.
</p>
<ul>
	{% assign active_courses = site.courses | where: 'active', 'true' %}
	{% for course in active_courses %}
	<li class = "front-box">
		<a href = "{{ course.url }}"><h2>{{ course.name }}</h2></a>
		{% assign filtered_notes = site.notes | where: 'code', course.code | sort: date | reverse %}
		<ul>
			{% for note in filtered_notes limit:3 %}
			<li> <a href  ="{{ note.url }}">{{ note.title }}</a> </li>
			{% endfor %}
		</ul>
	</li>
	{% endfor %}
</ul>
