:root {
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    width: 65%;
    margin: auto;
	background-color: #151613;
	color: #ECEFF4;
}

p {
    font-family: Georgia, serif;
}

h1 {
}

h2 {
}

code {
	background-color: #272822; 
}

nav a {
	padding: 10px; 
	color: #ECEFF4;
}

a:link {
    text-decoration: none;
	color: #ECEFF4;
}

a:visited {
    text-decoration: none;
	color: #ECEFF4;
}

a:hover {
    text-decoration: underline;
	color: #ECEFF4;
}

a:active {
    text-decoration: underline;
	color: #ECEFF4;
}

.date {
    float: right;
}

img[alt="block"] {
    display: block;
    padding: 10px;
    width: 50%;
    margin: auto;
}

table {
	margin-left: auto;
	margin-right: auto;
}
