<!DOCTYPE html>
<html>
    <head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/syntax.css">
	{% unless page.is_post %}
	<link rel="stylesheet" type="text/css" href="/assets/css/no-bullets.css">
	{% endunless %}
	<!-- Adding support for MathJax -->
	<script type="text/x-mathjax-config">
	      MathJax.Hub.Config({
	          tex2jax: {
		        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
			      processEscapes: true
		  }
	    });
	</script>
	<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<!-- Adding support for Mermaid -->
	<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
	<script>mermaid.initialize({startOnLoad:true});</script>
    </head>
    <body>
	{% include navigation.html %}
	{{ content }}
    </body>
</html>
